.logoimage {
        position:absolute;
        width: 6rem;
        height: 6rem;
        margin: 0px 20px;
        border-radius: 50%;
        left : -10px;
        top : 0px;
        z-index: 1;
    } 
.home,.aboutus ,.Planttree , .Donate,.login {
    margin: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color:MediumSeaGreen;
    font-weight: bold;
}
.home:hover,.aboutus:hover ,.Planttree:hover , .Donate:hover,.login:hover{
    color: white;
}
.plantify {
    color: #E0E4D4 !important;
   font-size: 2rem !important;
   font-weight: bold;
}
